.container {
  background-color: white;
  padding: 50px;
  min-height: 180px;
}
.scrollable {
  height: calc(100vh - 140px);
  overflow-y: scroll;
  overflow-x: hidden;
}

strong {
  color: white !important;
  //margin-left: 10px !important;
  font-size: 0.9rem;
}

mat-form-field {
  width: 100%;
}

textarea {
  min-height: 150px;
}

hr {
  border: solid black 0.5px !important;
}

mat-chip {
  height: 50px !important;
}
