<div class="page-container pt-5 px-5">
  <div class="columns">
    <div class="column">
      <div class="container">
        <h1>Currently running agents ({{ agents.length }})</h1>
        <mat-spinner *ngIf="loading"></mat-spinner>
        <mat-chip-list>
          <mat-chip color="primary" selected *ngFor="let agent of agents"
            >{{ agent.type }}: <strong>{{ agent.name }}</strong
            >, {{ agent.host }}</mat-chip
          >
        </mat-chip-list>
        <hr class="my-5" />
        <h1>Available agent types:</h1>
        <ol class="ml-5">
          <li *ngFor="let type of agentTypes">{{ type }}</li>
        </ol>
      </div>
      <div class="container mt-5">
        <h1>Start new agent</h1>
        <mat-form-field appearance="outline">
          <mat-label>Select agent type</mat-label>
          <mat-select required [(ngModel)]="newAgentType">
            <mat-option [value]="type" *ngFor="let type of agentTypes">{{
              type
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Agent name</mat-label>
          <input matInput required [(ngModel)]="newAgentName" />
        </mat-form-field>
        <div class="is-flex is-flex-direction-row-reverse">
          <button
            mat-raised-button
            color="primary"
            (click)="startAgent()"
            [disabled]="newAgentName.trim() == '' || newAgentType.trim() == ''"
          >
            Start agent
          </button>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="container">
        <h1>Send ACL message</h1>
        <mat-spinner *ngIf="loading"></mat-spinner>
        <mat-form-field appearance="outline">
          <mat-label>Select performative</mat-label>
          <mat-select required>
            <mat-option
              [value]="performative"
              *ngFor="let performative of performatives"
              >{{ performative }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Select local agent</mat-label>
          <mat-select required>
            <mat-option [value]="agent.name" *ngFor="let agent of agents">{{
              agent.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Content</mat-label>
          <textarea matInput formControlName="content" required></textarea>
        </mat-form-field>
        <div class="is-flex is-flex-direction-row-reverse">
          <button mat-raised-button color="primary">Send</button>
        </div>
      </div>
    </div>
    <div class="column">Third column</div>
  </div>
</div>
