<div class="page-container pt-5 px-5">
  <div class="columns">
    <div class="column">
      <div class="container stretch-height">
        <h1>Currently running agents ({{ agents.length }})</h1>
        <mat-spinner *ngIf="loading"></mat-spinner>
        <mat-chip-list>
          <mat-chip color="primary" selected *ngFor="let agent of agents"
            >{{ agent.agentId.type }}: <strong>{{ agent.agentId.name }}</strong
            >, {{ agent.agentId.host.alias }}</mat-chip
          >
        </mat-chip-list>
        <hr class="my-5" />
        <h1>Available agent types:</h1>
        <ol class="ml-5">
          <li *ngFor="let type of agentTypes">{{ type }}</li>
        </ol>
      </div>
    </div>

    <div class="column">
      <div class="container stretch-height">
        <h1>Start new agent</h1>
        <mat-form-field appearance="outline">
          <mat-label>Select agent type</mat-label>
          <mat-select required [(ngModel)]="newAgentType">
            <mat-option [value]="type" *ngFor="let type of agentTypes">{{
              type
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Agent name</mat-label>
          <input matInput required [(ngModel)]="newAgentName" />
        </mat-form-field>
        <div class="is-flex is-flex-direction-row-reverse">
          <button
            mat-raised-button
            color="primary"
            (click)="startAgent()"
            [disabled]="newAgentName.trim() == '' || newAgentType.trim() == ''"
          >
            Start agent
          </button>
        </div>
        <hr />
        <h1>Stop running agent</h1>
        <mat-form-field appearance="outline">
          <mat-label>Select agent</mat-label>
          <mat-select required [(ngModel)]="stoppingAgentId">
            <mat-option [value]="agent.agentId" *ngFor="let agent of agents"
              >{{ agent.agentId.name }},
              {{ agent.agentId.host.alias }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <div class="is-flex is-flex-direction-row-reverse">
          <button
            mat-raised-button
            color="warn"
            (click)="stopAgent()"
            [disabled]="stoppingAgentId.name == ''"
          >
            Stop agent
          </button>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="container stretch-height">
        <h1>Send ACL message</h1>
        <mat-spinner *ngIf="loading"></mat-spinner>
        <mat-form-field appearance="outline">
          <mat-label>Select performative</mat-label>
          <mat-select required [(ngModel)]="newMessage.performative">
            <mat-option
              [value]="performative"
              *ngFor="let performative of performatives"
              >{{ performative }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Select agent</mat-label>
          <mat-select required [(ngModel)]="newMessageReceiver">
            <mat-option [value]="agent.agentId" *ngFor="let agent of agents">{{
              agent.agentId.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Content</mat-label>
          <textarea
            matInput
            required
            [(ngModel)]="newMessage.content"
          ></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Language</mat-label>
          <input matInput [(ngModel)]="newMessage.language" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Encoding</mat-label>
          <input matInput [(ngModel)]="newMessage.encoding" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Ontology</mat-label>
          <input matInput [(ngModel)]="newMessage.ontology" />
        </mat-form-field>
        <div class="is-flex is-flex-direction-row-reverse">
          <button
            mat-raised-button
            color="primary"
            [disabled]="
              newMessage.content == '' ||
              newMessage.performative == '' ||
              newMessageReceiver.name == ''
            "
            (click)="sendACLMessage()"
          >
            Send
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
