<div class="page-container">
  <div class="columns">
    <div class="column is-4 is-flex is-flex-direction-column overflow-y">
      <h1 class="is-light">All messages ({{ messages.length }})</h1>
      <mat-spinner *ngIf="loading"></mat-spinner>
      <p class="is-light mt-5" *ngIf="messages.length == 0 && !loading">
        No new messages.
      </p>
      <div class="is-flex is-flex-direction-column-reverse">
        <message-preview-box
          *ngFor="let msg of messages"
          [message]="msg"
        ></message-preview-box>
      </div>
    </div>
    <div class="column text-column stretch-width">
      <div
        class="is-flex is-flex-direction-column is-align-content-center is-align-items-center stretch-width"
      >
        <message-preview></message-preview>
      </div>
    </div>
  </div>
</div>
