<div class="page-container">
  <div class="columns">
    <div class="column is-4 is-flex is-flex-direction-column">
      <h1 class="is-light">All messages</h1>
      <message-preview-box></message-preview-box>
      <message-preview-box></message-preview-box>
      <message-preview-box></message-preview-box>
      <message-preview-box></message-preview-box>
      <message-preview-box></message-preview-box>
      <message-preview-box></message-preview-box>
    </div>
    <div class="column text-column stretch-width">
      <div
        class="is-flex is-flex-direction-column is-align-content-center is-align-items-center stretch-width"
      >
        <message-preview></message-preview>
      </div>
    </div>
  </div>
</div>
