body {
  background-image: url("./../../../assets/purple-background.jpg");
}

.container {
  width: 800px;
  height: 400px;
}

.gradient-background {
  border-radius: 10px 0 0 10px;
}

.light-background {
  border-radius: 0 10px 10px 0;
}

.mat-form-field {
  width: 100%;
}
