<div class="page-container pt-5 px-5">
  <div class="container">
    <form (ngSubmit)="submit()" [formGroup]="messageForm">
      <h1>Send a new message</h1>
      <div class="is-flex is-flex-direction-column">
        <mat-form-field appearance="outline">
          <mat-label>Select reciever</mat-label>
          <mat-select formControlName="reciever">
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Subject</mat-label>
          <input matInput formControlName="subject" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Message content</mat-label>
          <textarea matInput formControlName="content"></textarea>
        </mat-form-field>
        <div class="is-flex is-flex-direction-row-reverse">
          <button mat-raised-button color="primary" type="submit">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
