@use "~@angular/material" as mat;
@import "/src/custom-theme.scss";

h1 {
  margin-bottom: 0px;
  color: #91b155;
}

.title-backdrop {
  background-color: #ccee8c;
}

.sidebar-container {
  background-color: mat.get-color-from-palette(
    $chat-application-primary,
    "default"
  );
  color: mat.get-color-from-palette(
    $chat-application-primary,
    "text"
  ) !important;
}

mat-button-toggle-group {
  border: none !important;
}

mat-button-toggle {
  background-color: mat.get-color-from-palette(
    $chat-application-primary,
    "default"
  ) !important;
  color: mat.get-color-from-palette(
    $chat-application-primary,
    "text"
  ) !important;
  border: none !important;
}

.mat-button-toggle-checked {
  background-color: mat.get-color-from-palette(
    $chat-application-accent,
    "default"
  ) !important;
  color: mat.get-color-from-palette(
    $chat-application-primary,
    "text"
  ) !important;
  border: none !important;
}

.logout-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}
