<div class="max-width-700">
  <div *ngIf="message.subject != ''">
    <div class="is-flex is-flex-direction-row is-justify-content-space-between">
      <div>
        <div class="is-flex is-justify-content-space-between stretch-width">
          <h1>{{ message.subject }}</h1>
        </div>
        <h2>
          {{ message.sender.username }}, {{ message.date | date: "medium" }}
        </h2>
      </div>
      <div>
        <button mat-raised-button color="primary" (click)="closeMessage()">
          <mat-icon class="mr-2">cancel</mat-icon> Close
        </button>
      </div>
    </div>

    <p class="has-text-justified">
      {{ message.content }}
    </p>
  </div>
  <div *ngIf="message.subject == ''" class="has-text-centered">
    <h2>
      Nothing to show right now. <br />Click on a message to display it. 😃
    </h2>
  </div>
</div>
