<div class="page-container pt-5 px-5">
  <div class="container">
    <h1>All registered users ({{ users.length }})</h1>

    <mat-chip-list>
      <mat-chip color="primary" selected>One fish</mat-chip>
      <mat-chip color="primary" selected>Two fish</mat-chip>
      <mat-chip color="primary" selected>One fish</mat-chip>
      <mat-chip color="primary" selected>Two fish</mat-chip>
      <mat-chip color="primary" selected>One fish</mat-chip>
      <mat-chip color="primary" selected>Two fish</mat-chip>
      <mat-chip color="primary" selected>One fish</mat-chip>
      <mat-chip color="primary" selected>Two fish</mat-chip>
      <mat-chip color="primary" selected>One fish</mat-chip>
      <mat-chip color="primary" selected>Two fish</mat-chip>
      <mat-chip color="primary" selected>One fish</mat-chip>
      <mat-chip color="primary" selected>Two fish</mat-chip>
      <mat-chip color="primary" selected>One fish</mat-chip>
      <mat-chip color="primary" selected>Two fish</mat-chip>
      <mat-chip color="primary" selected>One fish</mat-chip>
      <mat-chip color="primary" selected>Two fish</mat-chip>
    </mat-chip-list>
  </div>
</div>
